.div-one-contact ,
.form-contact  {
    padding: 10px;
    box-shadow: 1px 1px 3px 3px #f5f5f5 , -1px -1px 3px 3px #f5f5f5;
}
.send-message-btn-container{
    display: flex;
    justify-content: flex-end;

}
.send-message-btn{
   padding: 0.6rem 2rem !important;
   margin-top: 1rem;
} 

@media (max-width: 480px) {
    .send-message-btn-container{
        justify-content:center;
    }
    .form-contact{
        margin-top: 1rem;
    }
   
  }